<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/mystyle.css">

</head>
<body>
<h1 class="text-info text-center">WELCOME HOME</h1>
<a class="btn btn-outline-info" href="/login">Back</a>
<a class="btn btn-outline-danger" href="/products">View shoes</a>
<a class="btn btn-outline-primary" href="/about">About us</a>
<a class="btn btn-outline-primary" href="/users">Users</a>



</body>
</html>